@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
	margin:0;
	padding:0;
}

.logo{
	text-decoration: none;
	font-weight:bold;
	color:black;
	font-size:30px;

}

.navbar{
	display:flex;
	align-items:center;
	padding:20px;
}

nav{
	flex:1;
	text-align:right;

}

ul li{
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
}

ul li a{
	text-decoration: none;
	color: black;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
ul li a:hover{
	color:red;
}
.search{
	padding:5px;
	border-radius:20px;
	cursor: pointer;
	border:none;
	text-align: center;
}

.search:focus{
	outline: 0;
}

.search:hover{
	border:1px solid yellow;
}

.input-icons i{
	position: absolute; 
}

.input-icons{
	width:100%;
	margin-bottom: 2px;
}

.fas{
	padding: 5px;
	/*min-width: 40px;*/
}

.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	background: rgba(204, 204, 204,0.3);
}

.row{
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: right;
}

.col-2{
	flex-basis: 50%;
	min-width:300px;
}

.col-2 img{
	max-width: 100%;
	/*height: 100vh;*/
	padding-top:30px;
}

.col-2 h1{
	font-size: 50px;
	padding-left: 50px;
	margin:25px 0;

}


.col-2 .button:hover{
	background-color: rgb(255, 0, 0);
}

.col-2 .button{
	display: inline-block;
	background: rgb(255, 26, 26);
	color: white;
	padding: 20px 30px;
	/*margin-left: 180px;*/
	margin: 25px 50px;
	border-radius: 30px;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
}

.section{
	padding: 10px 10px 20px 0;

}

.cat-center{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 114rem;
	margin:auto;
	padding: 0 2rem;
}

.cat-center .cat{
	max-width: 37rem;
	height: 25rem;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	text-align: center;
	padding: 15px;
}

.cat-center .cat img{
	width:25rem;
	height:auto;
	margin: auto;
	padding-top:30px;
	object-fit: cover;
	transition: all .2s ease;
}

.cat-center .cat:hover img{
	transform: scale(1.1);
}



.cat-center .cat div{
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
	width: 10rem;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

@media only screen and (max-width: 800px){
	.cat-center .cat img{
		width:18rem;
		margin-bottom: 3rem;
	}

}

@media only screen and (max-width: 600px){
	.cat-center{
		padding:0 0;
		margin-bottom: -10rem;
	}
	.cat-center .cat img{
		width:9rem;
		margin:auto;
		margin-bottom: 2rem;
	}
	.cat-center .cat div{
		position: absolute;
		bottom: 70%;
		left: 50%;
		transform: translateX(-50%);
		background-color: white;
		width: 5rem;
		height: 2rem;
		line-height: 2rem;
		text-align: center;
		font-size: 10px;
		font-weight: 500;
		margin-left:0.5rem;
	}


}

.title{
	text-align:center;
	margin-bottom: 5rem;
}

.title h1{
	font-size: 3rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-weight:500;
}
.title-container{
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
	margin-bottom: 2rem;
	background-color: grey;
}

.section-title{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
}

.title-container a{
	margin-right: 1rem;
	color: black;
	font-size: 1.5rem;
	/*background-color: ;*/
	padding: 10px;
	cursor: pointer;
	font-weight: 550;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Lora', serif;
}

.title-container a:hover{
	color:yellow;
}

@media only screen and (max-width: 700px){
	.title-container{
		flex-direction: column;
		padding: 1rem 0 ;
	}
	.title-container a{
		font-size: 1.3rem;
	}
}



.product-center{
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
	grid-gap: 7rem 2rem;
	align-items: center;
}



.product-item{
	position:relative;
	width:15rem;
	margin: 0 auto;
}

.product-thumb img{
	width:20rem;
	height:auto;
	margin: auto;
	padding-top:30px;
	/*object-fit: cover;*/
	transition: all .2s ease;
}

.product-info{
	padding:1rem;
	text-align: center;

}

.product-info span{
	display: inline-block;
	font-size: 1.3rem;
	color:black;
	margin-bottom: 1rem;
	margin-left: 3.5rem;
	font-family: 'Lora', serif;

}

.product-info h4{
	text-align: center;
	font-size: 1.2rem;
	margin-left: 3.5rem;
}

.product-item .icons {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translate(30%, -50%);
  display: flex;
  flex-direction: column;
  /*background-color: yellow;*/
  /*padding: 1rem;*/
  /*transition: all 200ms ease-in-out;*/
  visibility: hidden;
  opacity:0;
}


.product-item .icons span {
  font-size: 1.3rem;
  background-color: white;
  margin: 0.1rem;
  padding: 0.3rem 0.3rem;
  border-radius: 50%;
}

.product-item .icons span:hover {
  background-color: grey;
  color: white;
}

.product-item:hover .icons {
  transform: translate(0, -50%);
  visibility: visible;
  opacity:1;
  transition: all 500ms ease-in-out;
}

@media only screen and (max-width:800px){
	.product-center{
		grid-gap: 3rem 3rem;
	}
	.product-thumb img{
		width:15rem;
	}

	.product-info span{
		margin-left:1.5rem;

	}

	.product-info h4{
		margin-left:1.5rem;
	}

	.title h1{
		font-size: 2rem;
	}

	.title p{
		font-size:0.8rem;
	}

}

/*banner*/

.banner{
	position: relative;
	background-color: rgb(191, 191, 191);
	padding: 5rem;
	margin-bottom: 1rem;
	/*margin-left:2rem;
	margin-right:2rem;*/
	margin-top:2rem;

}

.banner .right img{
	position: absolute;
	bottom:0;
	right: 0;
	width: 28rem;
	height:auto;
}


.banner p{
	display:block;
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 1.3rem;
	margin-left: 12rem;

}

.banner p span{
	color: red;
}

.banner h1{
	font-size: 2rem;
	margin-bottom: 1rem;
	margin-left: 15rem;

}

.banner .btn{
	display: inline-block;
	background: rgb(255, 26, 26);
	color: white;
	padding: 10px 30px;
	/*margin: 25px 100px;*/
	margin-left: 18rem;
	border-radius: 30px;
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
}

.banner .btn:hover{
	background-color: rgb(255, 102, 163);
}

@media (max-width: 700px){
	.banner{
		position: relative;
		background-color: rgb(191, 191, 191);
		padding: 10rem;
		margin-bottom: 1rem;
		margin-top:2rem;
	}
	.banner .right img{
		width: 25.5rem;
		height:auto ;
		margin-bottom: 0;
	}
	.banner h1{
		/*display:block;*/
		font-size: 1.2rem;
		margin-top : -3rem;
		margin-left: -8rem;
		text-align: center;
	}
	.banner p{
		display:block;
		font-size: 1.2rem;
		font-weight: 300;
		margin-bottom: 1rem;
		margin-left: -7rem;
	}

	.banner .btn{
		margin-left: -5rem;
		font-size: 1rem;
		padding: 10px ;
		margin-bottom:10rem;
	}
	
}

/*footer*/
.footer{
	padding:3rem 1rem;
	/*background: rgb(191, 191, 191);*/
	background: white;
	margin-top: 2rem;
}

.footer .row{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	max-width: 80rem;
	margin: 0 auto;

}

.footer .col{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color:black;
}

.footer .col:last-child{
	flex-direction: row;
	justify-content: center;
}

.footer .col:last-child span{
	font-size: 2.5rem;
	margin-right: 2rem;

}

.footer .col a{
	color: black;
	font-size: 1rem;
	padding: 0.5rem;
	font-weight: 400;
	text-decoration: none;
	margin-left: 1.5rem;
	font-family: 'Poppins', sans-serif;
}

.footer .col a:hover{
	color:red;
}

.footer .col h4{
	margin-bottom: 1rem;
	margin-left: 2rem;
}

@media only screen and (max-width: 800px){
	.footer .col:last-child span{
		font-size: 1rem;
		margin-right: 0.5rem;

	}
	.footer .col a{
		color: black;
		font-size: 0.5rem;
		padding: 0.2rem;
		font-weight: 400;
		text-decoration: none;
	}
	.footer .col h4{
		font-size: 0.7rem;
		margin-bottom: 1rem;
		margin-left: 2rem;
	}

}


/* header responsive*/
.menu-icon{
	width: 28px;
	margin-left: 100px;
	display: none;
}

@media only screen and (max-width : 800px){
	nav ul{
		position: absolute;
		top: 70px;
		left :0;
		width: 100%;
		background: grey;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	nav ul  li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	nav ul li a{
		color:white;
		font-size: 15px;
		font-weight: 300;

	}

	.menu-icon{
		display: block;
		cursor: pointer;
	}
}

@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}

	.col-2{
		flex-basis: 100%;
	}

	.col-2 h1{
		margin-top: 3rem;
		font-size: 2.5rem;
		text-align: center;
	}

	.col-2 .button{
		padding:20px;
		margin-left:3rem;
		margin-bottom:2rem;
		font-size:15px;

	}
	.navbar{

		display:flex;
		align-items:center;
		right:0;
		margin: auto;
	}

	
}

